#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;
    height: 100%;
    background-color: #333;
    padding: 0;
    overflow: auto;
}

#sidebar-container>.list-group {
  padding-top: 65px;
}

#main_container {
  padding-left: 0;
}

.sidebar-submenu > .list-group-item:hover {
  background: #318ff573 !important;
}

.selected_item {
    animation: blinker 4s linear infinite !important;
    /* background-color: #b7750a33 !important; */
    background-color: #318ff573 !important;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}


.list-group-item > div > img {
  margin-left: -10px;
}

.list-group-item > div > .menu-collapsed {
  margin-left: 10px;
}

#dateHolder {
  color: #ffff;
  margin: 0 auto;
}

#user_welcome {
    color: #fff;
}

.holder{
  position: absolute;
  top: 55px;
  bottom : 0;
  visibility: hidden;
  z-index: -1;
}

.holder.visible {
  visibility: visible;
  z-index: 1;
}

#collapse-icon{
  color: #f0f8ff;
}

#forw {
  float: right;
}

#nav_arrows {
  margin-left: 58px;
  color: #ffff;
}

#prev, #forw {
  cursor: pointer;
}

.nav-link {
  display: inline-block !important;
}

/* #previous:hover {
  opacity: 0.2;
  background-color: #8eb6da;
  transition-property: background-color;
  transition-duration: 1s;
}

#forward:hover {
  opacity: 0.2;
  background-color: #8eb6da;
  transition-property: background-color;
  transition-duration: 1s;
} */

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 258px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* */
.navbar {
  line-height: 1 !important;
}
.sidebar-toggle {
  font-size: 42px;
  margin-right: 24px;
}

.sidebar-toggle img,
.list-group img {
  width: 24px;
}

.sidebar-toggle img {
  margin-top: -12px
}

.nav-button {
  background-color : rgba(0,0,0,0.3);
  font-size: 16px;
  color : white;
}

.dots { 
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
}
